body{
	background: #efefef;
}

h1, h2, h3, h4, h5, h6{
	margin-top: 10px;/* So there is the same margin on top and bottom */
}

.row{
	margin: 0;
}

img{
	max-width: 100%;
}

/* Header */

#headerMain{
	background: linear-gradient(#8DACEF, #2A2B28);
	color: white;
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
}

#headerUI{
	display: none;
}

#headerMain img{
	max-width: 100%;
}

/* Banner Section */
#banner{
	background: #4E73AB;
	color: #EFEFEF;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}

/* Select Folder Section */
#sectionSelectFolder{
	padding: 2em 15px;
}

#textSelectFolder{
	display: flex;
	align-items: center;
}

/* Configure Setting Section */
#sectionConfigureSettings{
	padding: 2em 15px;
}

#textConfigureSettings{
	display: flex;
	align-items: center;
}

/* Footer */
footer{
	min-height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2A2B28;
	color: white;

}

