body{
	background: #f7f7f7;
	font-size: 17px;
}

h1, h2, h3, h4, h5, h6{
	margin-top: 10px;/* So there is the same margin on top and bottom */
}

.row{
	margin: 0;
}

/**********************
	General
***********************/
.step-number{
	color: white;
}

/******************* 
	Header 
********************/

#headerMain{
	background: #F7F7F7;
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
}

#headerUI{
	display: none;
	box-shadow: rgba(0,0,0,0.20) 0 -5px 10px;
}

#headerMain img{
	max-width: 100%;
}

#headerMain img#headerLogo{
	max-width: 300px;
	width: 80%;
}

#headerText{
	font-size: 1.1em;
	font-weight: 500;
	max-width: 1000px;
	margin: 0 auto 1em auto;
}

#demoButton{
	background: #4E73AB;
	border: none;
}

/***************************** 
	Banner Section 
****************************/
.banner{
	background: #4E73AB;
	color: #EFEFEF;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}

#worksBanner{
	background: #2D333B;
}

/******************* 
	The Problem
********************/

#sectionTheProblem{
	padding: 2em 15px 2em 15px;
}

#sectionTheProblem h3{
	text-align: center;
}

#sectionTheProblem p{
	display: block;
    max-width: 700px;
    margin: 1em auto 1em auto;
}

#serviceLogos{
	text-align: center;
}

#serviceLogos img{
	max-width: 175px;
	padding: 1em 1em;
}


/*******************************
	 MessageWatch Section 
*******************************/

#sectionMessageWatch{
	padding: 2em 15px 2em 15px;
}

#sectionMessageWatch p{
	display: block;
    max-width: 700px;
    margin: 1em auto 1em auto;
}

#sectionMessageWatch img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

/*******************************
	 Select Folder Section 
*******************************/
#sectionSelectFolder{
	padding: 4em 15px 2em 15px;
}

#textSelectFolder{
	display: flex;
	align-items: center;
}

#sectionSelectFolder img{
	max-width: 35vw;
	box-shadow: 0px 0px 10px 1px #888888;
}

@media (max-width: 992px){
	#sectionSelectFolder img{
		text-align: center;
		max-width: 100%;
		width: 100%;
		box-shadow: 0px 0px 10px 1px #888888;
	}
}

/******************************
 	Configure Setting Section 
*******************************/
#sectionConfigureSettings{
	padding: 2em 15px;
}

#textConfigureSettings{
	display: flex;
	align-items: center;
}

#sectionConfigureSettings img{
	float: right;
	max-width: 35vw;
	box-shadow: 0px 0px 10px 1px #888888;
}

@media (max-width: 992px){
	#sectionConfigureSettings img{
		text-align: center;
		max-width: 100%;
		width: 100%;
		box-shadow: 0px 0px 10px 1px #888888;
	}
}

/*************************** 
	Schedule Section
*****************************/
#sectionSetSchedule{
	padding: 4em 15px 2em 15px;
}

#textSetSchedule{
	display: flex;
	align-items: center;
}


#sectionSetSchedule img{
	max-width: 35vw;
	box-shadow: 0px 0px 10px 1px #888888;
}

@media (max-width: 992px){
	#sectionSetSchedule img{
		text-align: center;
		max-width: 100%;
		width: 100%;
		box-shadow: 0px 0px 10px 1px #888888;
	}
}

/*************************** 
	Other Section
*****************************/
#sectionOther{
	text-align: center;
	padding: 2em 15px 4em 15px;
}

#sectionOther img{
	width: 100%;
	box-shadow: 0px 0px 10px 1px #888888;
}

/*************************** 
	Contact Section
*****************************/
#sectionContact{
	padding: 2em 15px 1em 15px;
}

#sectionContact label{
	font-weight: 600;
}

#sectionContact h3, #sectionContact p{
	text-align:center;
}

.required-input{
	color: red;
	font-weight: 600;
}

#sectionContact button{
	background: #4E73AB;
	border: none;
}

#emailSuccess{
	margin-top: 1em;
}

/******************* 
	Footer 
*******************/
footer{
	background: #2A2B28;
	color: white;
	text-align: center;
	padding: 2em 0;
}

footer img{
	max-width: 150px;
	width: 80%;
}

footer img#footerVQLogo{
	max-width: 60px;
}
